<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Brett's photography API</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <hr>
          <h3>Add a new Photo</h3>
          <form class="form-inline" id="newPhotoForm">
             <div class="form-group">
               <label for="location">Location</label>
               <input type="text" class="form-control" name="location" placeholder="San Francisco">
             </div>
             <div class="form-group">
                <label for="image">Image URL</label>
                <input type="text" class="form-control" name="image" placeholder="http:/...">
            </div>
            <div class="form-group">
               <label for="contents">Contents of Photo</label>
               <input type="text" class="form-control" name="contents" placeholder="ocean">
            </div>
            <button type="submit" class="btn btn-default">Create photo</button>
          </form>
          <h3 class="alertBox1"></h3>
          <hr>
          <h3>Search for Photos</h3>
          <form class="form-inline" id="searchLocationForm">
              <div class="form-group">
                <label for="location">Location of photo</label>
                <input type="text" class="form-control" name="location" placeholder="San Francisco">
              </div>
              <button type="submit" class="btn btn-default">Search photos</button>
              <div class="form-group">
                 <label for="contents">Contents of Photo</label>
                 <input type="text" class="form-control" name="contents" placeholder="ocean">
              </div>
           </form>
           <h3 class="alertBox2"></h3>
        </div>
        <div class="col-md-10 col-md-offset-1 picDisplay"></div>
      </div>
    </div>
  </body>
</html>
